<template>
  <q-dialog v-model="isError">
    <q-card>
      <q-card-section>
        <div class="text-h6">{{ errorId ? $t(`errors.${errorId}.header`) : '' }}</div>
      </q-card-section>

      <q-card-section class="q-pt-none">
        {{ errorId ? $t(`errors.${errorId}.text`) : '' }}
      </q-card-section>

      <q-card-actions align="right">
        <q-btn
          :label="$t('buttons.ok')"
          flat
          color="primary"
          v-close-popup
        />
      </q-card-actions>
    </q-card>
  </q-dialog>
</template>

<style>
</style>

<script>
export default {
  name: 'AlertDialog',

  props: {
    errorId: {
      type: String,
    },
  },

  data() {
    return {};
  },

  computed: {
    isError: {
      get() {
        return !!this.errorId;
      },
      set() {
        return this.$emit('resetErrorId');
      },
    },
  },
};
</script>
