<template>
  <div class="tab-content full-height">
    <div class="row full-height q-gutter-lg items-start">
      <q-card class="tab-content__forms forms col full-height q-pa-md" flat>
        <q-card-section class="q-gutter-md">
          <div class="forms__label">
            <q-input
              v-model="tab.label"
              :label="$t('fields.projectName.label')"
              v-bind="defaultInputProps"
            />
          </div>

          <div class="forms__project-path">
            <q-input
              v-bind="defaultInputProps"
              v-model="tab.coursePath"
              autogrow
              :label="$t('fields.coursePath.label')"
              @click="setCoursePath"
            />
          </div>

          <div class="forms__user-path">
            <q-input
              v-bind="defaultInputProps"
              v-model="tab.userPath"
              autogrow
              :label="$t('fields.userPath.label')"
              @click="setUserPath"
            />
          </div>

          <!-- <div class="forms__audio audio">
            <div class="audio__toggle flex no-wrap items-center q-mb-xs">
              <q-toggle v-model="tab.audioEnabled" />
              <div class="audio__comment" :style="audioCommentStyle">
                <i18n path="audioComment" tag="span">
                  <template v-slot:pin>
                    <a href="https://github.com/ex-kaiser/pin-audioplayer">{{ $t('pin') }}</a>
                  </template>
                </i18n>
              </div>
            </div>
            <transition
              appear
              enter-active-class="animated fadeIn"
              leave-active-class="animated fadeOut"
            >
              <q-input
                v-bind="defaultInputProps"
                v-show="tab.audioEnabled"
                v-model="tab.audioPath"
                :label="$t('fields.audioPath.label')"
                @click="setAudioPath"
              />
            </transition>
          </div> -->

          <div class="forms__archive-name">
            <q-input
              v-model="tab.archiveName"
              :label="$t('fields.archiveName.label')"
              v-bind="defaultInputProps"
            />
          </div>
        </q-card-section>
      </q-card>

      <q-card
        class="tab-content__buttons col full-height q-pa-md"
        flat
      >
        <q-card-section>
          <div class="column buttons-group justify-between">
            <q-btn
              :label="$t('buttons.pack')"
              unelevated no-caps
              size="md"
              color="primary"
              icon="archive"
              class="full-width"
              :disable="!isReady"
              @click="execute"
            />
            <q-btn
              :label="$t('buttons.export')"
              unelevated no-caps
              size="md"
              color="secondary"
              class="full-width"
              :disable="!tab.label"
              @click="exportConfig"
            />
            <q-btn
              :label="$t('buttons.import')"
              unelevated no-caps
              size="md"
              color="secondary"
              class="full-width"
              @click="importConfig"
            />
          </div>
        </q-card-section>
        <transition
          enter-active-class="animated fadeIn"
          leave-active-class="animated fadeOut"
        >
          <q-img
            src="~assets/waves.png"
            class="bg-waves-gray"
            no-default-spinner
          />
        </transition>
        <transition
          enter-active-class="animated fadeIn"
          leave-active-class="animated fadeOut"
        >
          <q-img
            v-show="isReady"
            src="~assets/waves.png"
            class="bg-waves"
            no-default-spinner
          />
        </transition>
      </q-card>
    </div>
  </div>
</template>

<script>
const { dialog } = require('electron').remote;

export default {
  name: 'TabContent',

  props: {
    tab: {
      type: Object,
      required: true,
    },
  },

  data() {
    return {
      defaultInputProps: {
        dense: true,
        filled: true,
        'stack-label': true,
        color: 'margo',
        'label-color': 'margo',
      },
    };
  },

  computed: {
    isReady() {
      return this.tab.coursePath && this.tab.archiveName;
    },
    audioCommentStyle() {
      return {
        opacity: this.tab.audioEnabled ? 1 : 0.5,
      };
    },
  },

  methods: {
    execute() {
      this.$emit('execute');
    },
    exportConfig() {
      this.$emit('exportConfig');
    },
    importConfig() {
      this.$emit('importConfig');
    },
    async selectFolder(prop) {
      const dialogData = await dialog.showOpenDialog({
        title: 'Select folder',
        properties: ['openDirectory'],
      });

      if (!dialogData.filePaths.length) {
        return false;
      }

      this.tab[prop] = dialogData.filePaths[0];
      return true;
    },
    async selectFile(options) {
      const dialogData = await dialog.showOpenDialog({
        title: 'Select file',
        properties: ['openFile'],
        filters: options.filters,
      });

      if (!dialogData.filePaths.length) {
        return false;
      }

      this.tab[options.prop] = dialogData.filePaths[0];
      return true;
    },
    setCoursePath() {
      this.selectFolder('coursePath');
    },
    setUserPath() {
      this.selectFile({
        prop: 'userPath',
        filters: [
          { name: this.$t('jsFileFormat'), extensions: ['js'] },
        ],
      });
    },
    setAudioPath() {
      this.selectFolder('audioPath');
    },
  },

  mounted() {
    this.userRef = this.$refs.userRef;
    window.hh = this.userRef;
  },
};
</script>

<style lang="scss" scoped>
.tab-content {
  &__buttons {
    max-width: 280px;
  }
}
.buttons-group {
  height: 130px;
  flex-wrap: nowrap;
}

.audio-comment {
  font-weight: bold;
}

.bg-waves {
  position: absolute;
  bottom: 0;
  left: 0;
}
.bg-waves-gray {
  position: absolute;
  bottom: 0;
  left: 0;
  opacity: 0.3;
  filter: grayscale(75%);
}
</style>
