<template>
  <q-tab-panels
    @input.self="onTabSelect"
    :value="selectedTab.name"
    animated
    transition-prev="jump-right"
    transition-next="jump-left"
    class="full-height"
  >
    <q-tab-panel
      v-for="tab in tabs"
      :key="tab.name"
      :name="tab.name"
      class="q-pa-xl"
    >
      <TabContent
        :tab="tab"
        @execute="execute"
        @importConfig="importConfig"
        @exportConfig="exportConfig"
      />
    </q-tab-panel>
  </q-tab-panels>
</template>

<style>
</style>

<script>
import TabContent from './TabContent.vue';

export default {
  name: 'TabPanels',

  components: {
    TabContent,
  },

  props: {
    selectedTab: {
      type: Object,
      required: true,
    },
    tabs: {
      type: Array,
    },
  },

  data() {
    return {};
  },

  methods: {
    onTabSelect(value) {
      this.$emit('selectTab', value);
    },
    execute() {
      this.$emit('execute');
    },
    exportConfig() {
      this.$emit('exportConfig');
    },
    importConfig() {
      this.$emit('importConfig');
    },
  },
};
</script>
