<template>
  <q-tabs
    align="left" noCaps
    @input.self="onTabSelect"
    :value="selectedTab.name"
    class="bg-steel"
    active-bg-color
  >
    <q-tab
      v-for="(tab, index) in tabs"
      :key="tab.name"
      :label="tab.label ? tab.label : $t('emptyProject')"
      v-bind="tab"
      contentClass="row inline wrap"
    >
      <q-btn
        size="xs" flat
        icon="close"
        class="on-right btn-remove"
        :disable="tabs.length === 1"
        @click.stop="removeTab(index)"
      />
    </q-tab>
    <q-btn
      stretch flat
      icon="add"
      @click="addTab"
      :disable="tabs.length === this.maxTabsAmount"
    />

    <q-space />

    <q-btn-toggle
      v-model="lang"
      :options="langOptions"
      unelevated
      size="sm"
      color="white"
      text-color="black"
      class="q-pr-md"
    />
  </q-tabs>
</template>

<style>
</style>

<script>
export default {
  name: 'Tabs',

  props: {
    selectedTab: {
      type: Object,
      required: true,
    },
    tabs: {
      type: Array,
      default: () => [],
    },
  },

  data() {
    return {
      lang: this.$i18n.locale,
      langOptions: [
        { label: 'RU', value: 'ru' },
        { label: 'EN', value: 'en-us' },
      ],
      maxTabsAmount: 3,
    };
  },

  methods: {
    addTab() {
      this.$emit('addTab');
    },
    removeTab(index) {
      this.$emit('removeTab', index);
    },
    onTabSelect(value) {
      this.$emit('selectTab', value);
    },
  },

  watch: {
    lang(lang) {
      this.$i18n.locale = lang;
    },
  },
};
</script>

<style lang="scss">
.btn-remove {
  .q-btn__wrapper {
    padding: 4px;
  }
}

.q-tab {
  &--active {
    background: #393449;
  }
  .q-tab__content {
    flex-direction: row;
    flex-wrap: nowrap;
  }
  .q-tab__label {
    max-width: 200px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-weight: 700;
  }
}

.q-btn-toggle {
  .q-btn__wrapper {
    padding: 4px 12px;
    font-size: 11px;
  }
}
</style>
