// app global css in SCSS form
@font-face {
  font-family: MontserratRegular;
  src: url(../fonts/Montserrat-Regular.ttf);
}
@font-face {
  font-family: MontserratBold;
  src: url(../fonts/Montserrat-Bold.ttf);
}

body {
  font-size: 12px;
  line-height: 1.3;
}

a:link {
  color: $primary;
}

.q-textarea.q-field--dense.q-field--labeled .q-field__control-container {
  padding-top: 18px;
}

.q-field--labeled.q-field--dense .q-field__native {
  padding-top: 18px;
}

.q-btn {
  font-weight: bold;
  transition: all .3s;

  &.disabled {
    opacity: .3 !important;
  }
}

.q-dialog__backdrop {
  background: rgba(0, 0, 0, 0.8);
}

.q-dialog {
  .q-card {
    max-width: 400px;
  }
}

.q-field--filled {
  .q-field__control {
    border-radius: 3px;
  }
}
