body.body--dark {
  background-color: #221f2e;
  color: #9895a4;

  .q-dark {
    background-color: #221f2e;
    color: #9895a4;
  }

  .q-card {
    background-color: #2f2b3f;
  }

  .q-field--dark:not(.q-field--focused) {
    .q-field__label {
      color: $indigo-3;
    }
  }
}

.text-steel {
  color: #2f2b3f;
}
.bg-steel {
  background: #2f2b3f;
}

.text-margo {
  color: #9d8cf6;
}
.bg-margo {
  background: #9d8cf6;
}
