<template>
  <div id="q-app">
    <q-layout view="lHh Lpr lFf">
      <q-header>
        <Tabs
          :selectedTab="selectedTab"
          :tabs="tabs"
          @addTab="addTab"
          @removeTab="removeTab"
          @selectTab="selectTab"
        />
      </q-header>

      <q-page-container class="window-height">
        <TabPanels
          :selectedTab="selectedTab"
          :tabs="tabs"
          @selectTab="selectTab"
          @execute="execute"
          @importConfig="importConfig"
          @exportConfig="exportConfig"
        />
      </q-page-container>

      <AlertDialog :errorId="errorId" @resetErrorId="resetErrorId" />
    </q-layout>
  </div>
</template>

<script>
import fs from 'fs';
import uniqid from 'uniqid';

import Tabs from './components/Tabs.vue';
import TabPanels from './components/TabPanels.vue';
import AlertDialog from './components/AlertDialog.vue';

import { execute, exportConfig, importConfig } from './js/operations';

export default {
  name: 'Main',

  components: {
    Tabs,
    TabPanels,
    AlertDialog,
  },

  data() {
    return {
      tabs: [],
      selectedTab: {},
      errorId: null,
    };
  },

  methods: {
    addTab(data = {}) {
      const {
        label = '',
        coursePath = '',
        userPath = '',
        audioPath = '',
        archiveName = '',
        audioEnabled = false,
      } = data;

      this.tabs.push({
        name: uniqid.time(),
        label,
        coursePath,
        userPath,
        audioPath,
        archiveName,
        audioEnabled,
      });
    },

    removeTab(index) {
      const isSelected = this.tabs[index].name === this.selectedTab.name;
      this.tabs.splice(index, 1);

      // if removed tab was selected, we need to select other available tab
      if (isSelected) {
        const newIndex = !this.tabs[index] ? index - 1 : index;
        this.selectTab(this.tabs[newIndex].name);
      }
    },

    selectTab(value) {
      this.selectedTab = this.tabs.find((t) => t.name === value);
    },

    resetErrorId() {
      this.errorId = null;
    },

    async exportConfig() {
      await exportConfig(this.selectedTab);
    },

    async importConfig() {
      const { name, ...rest } = await importConfig();

      if (!name) {
        return false;
      }
      const currentTabIndex = this.tabs.findIndex((t) => t.name === this.selectedTab.name);

      this.tabs[currentTabIndex] = {
        name: this.selectedTab.name,
        ...rest,
      };
      this.selectedTab = this.tabs[currentTabIndex];

      return true;
    },

    async execute() {
      this.$q.loading.show();
      // hack for spinner, wait until it fully shows before execute
      await new Promise((res) => setTimeout(res, 1000));

      const errorId = await execute(this.selectedTab);
      if (errorId) this.errorId = errorId;
      this.$q.loading.hide();
    },
  },

  mounted() {
    // this.addTab({
    //   label: 'TEST_PROJECT',
    //   archiveName: 'TEST_PACK',
    //   coursePath: 'C:\\Users\\Kaiser\\Documents\\My Articulate Projects\\Nornikel_30-10-20 - Storyline output',
    //   userPath: 'C:\\Users\\Kaiser\\Google Диск\\Норникель\\webObjects\\user.js',
    // });
    this.addTab();
    this.selectedTab = this.tabs[0];
  },
};
</script>

<style lang="scss">
</style>
